<div class="dayContainer">
  <div #eachDays *ngFor='let day of monthData' class="date">
    <ion-card [id]="'date'+day.dayNumber">
      <ion-card-header>
        <ion-card-subtitle>
          {{day.date.toLocaleDateString()}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row style="min-height: 70px;">
            <ion-col size="8">
              <ion-row>
                {{day.summary}}
              </ion-row>
              <ion-row>
                <span *ngFor="let k of day.keywords" class="keywords">
                  #{{k}} &nbsp;
                </span>
              </ion-row>
            </ion-col>
            <ion-col>
              <div class="imgContainer" [class]="day.feelingsClass" [style.backgroundImage]="day.src">
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</div>
