<ion-content class="ion-padding">
  <div class="imgContainer ion-padding">
    <ion-img src="/assets/feel_tab.svg"></ion-img>
    <ion-img *ngFor="let feel of feelings"  src="/assets/feeling/{{feel}}.svg"></ion-img>
  </div>
  <p class="ion-text-center">오늘 하루를 기록 중이예요 :)</p>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!isRecording" (click)="onStopClicked()">
          <ion-icon name="stop"></ion-icon>
        </ion-button>
        <ion-button (click)="sendRecord()">
          <ion-icon name="save"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="!isRecording" (click)="onPlayClicked()" >
          <ion-icon name="play" size="large"></ion-icon>
        </ion-button>
        <ion-button *ngIf="isRecording" (click)="onPauseClicked()" >
          <ion-icon name="pause" size="large"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col class="dFlex">
        <div class="redDot"></div>
        <p>{{durationDisplay}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item button *ngFor="let f of storedFileNames" (click)="playFile(f)">
      {{ f.name }}
    </ion-item>
  </ion-list>
</ion-content>
