
ion-card p {
  margin-top: 0;
}
.marginVertical {
  margin: 16px 0;
}
.imgContainer {
  width: 60px;
  height: 60px;
  margin: auto;
  ion-img {
    width: 100%;
    height: 100%;
  }
}
.feelingDiv:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f9f9f9;
  border-radius: 50%;
}
.keywordBadge {
  margin: 8px 10px;
}
.keywordIcon {
  margin: 8px 0 8px 16px;
}
ion-footer ion-button {
  width: 90%;
}

