ion-col {
  border-bottom: 2px solid var(--base-color);
  padding-bottom: 0;
  &:hover {
    p {
      z-index: 2;
      // border-bottom-color: var(--active-color);
      color: var(--active-color);
    }
    border-color: var(--active-color);
  }
  p {
    font-size: 14px;
    font-weight: 700;
    border: 2px solid transparent;
    margin-bottom: 0;
    background-color: transparent;
    display: block;
    margin: auto;
  }
}
