
<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center">
    <ion-col>
      <div>
        <ion-card-header>
          <ion-row class="w100">
            <ion-col class="dFlex marginAuto" size="11" size-lg="8" size-xl="6">
              <ion-button fill="clear" color="dark" (click)="onPreviousMonth()">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </ion-button>
              <p (click)="onYearClicked()" class="calTitle"> {{ year }}년 {{ calendarCreator.getMonthName(monthNumber) }}월 </p>
              <ion-button fill="clear" color="dark" (click)="onNextMonth()">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-button>
            </ion-col>
            <!-- <ion-col size="3">
              <ion-list>
                <ion-item>
                  <ion-select interface="popover" placeholder="월">
                    <ion-select-option value="monthly">월</ion-select-option>
                    <ion-select-option value="weekly">주</ion-select-option>
                  </ion-select>
                </ion-item>
              </ion-list>
            </ion-col> -->
          </ion-row>
          <ion-popover class="marginAuto" #popover [isOpen]="isPickerOpen" (didDismiss)="isPickerOpen = false">
            <ion-grid *ngIf="isPickerOpen">
              <ion-row class="ion-justify-content-center">
                <ion-datetime  presentation="month-year" (ionChange)="monthChanged($event)"></ion-datetime>
              </ion-row>
            </ion-grid>
          </ion-popover>
        </ion-card-header>
        <ion-row class="ion-justify-content-end">
          <ion-col size="4">
            <button *ngIf="!isCal" class="customBtn" (click)="toCal()">달력</button>
            <button *ngIf="isCal" class="customBtn" (click)="toList()">리스트</button>
          </ion-col>
        </ion-row>
        <div class="calendar">
          <ion-grid>
            <ion-row class="ion-justify-content-center">
              <ion-col size="11" size-lg="8" size-xl="6">
                <span *ngFor='let weekDay of weekDaysName' class="day ion-text-center" >
                  {{ weekDay }}
                </span>
              </ion-col>
            </ion-row>

            <ion-row class="mainCalendar">
              <ion-col size="11" size-lg="8" size-xl="6">

                <div #eachDays *ngFor='let day of monthDays' (click)="dayClicked($event, day)" class="date">
                  <div class="imgContainer" [id]="'date'+day.dayNumber"></div>
                  <p>{{ day.dayNumber }}</p>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>



        </div>


      </div>
    </ion-col>
  </ion-row>

</ion-content>
