.imgContainer {
  margin: 20px auto;
  width: 100px;
  height: 70px;
  position: relative;
  ion-img {
    position: absolute;
    width: 30%;
    height: 30%;
    &:nth-child(1) {
      width: 60%;
      height: 60%;
      bottom: 0;
      left: 18px;
    }
    &:nth-child(2) {
      top: 20px;
      left: 0px;
    }
    &:nth-child(3) {
      top: 0;
      right: 30px;
    }
    &:nth-child(4) {
      bottom: 10px;
      right: 0;
    }
  }
}

.redDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  margin-right: 5px;
}
