div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .customBtn:nth-child(1):hover {
    color: var(--red-color);
  }
  .customBtn:nth-child(2):hover {
    color: var(--active-color);
  }
}
ion-input {
  border: 1px solid transparent;
  border-radius: 15px;
}
ion-input:focus-within {
  border-color: var(--middle-purple-color);
  color: black;
}
.closeBtn {
  text-align: right;
}
