/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

:root {
	--ion-color-custom: #7623ff;
	--ion-color-custom-rgb: 118,35,255;
	--ion-color-custom-contrast: #ffffff;
	--ion-color-custom-contrast-rgb: 255,255,255;
	--ion-color-custom-shade: #681fe0;
	--ion-color-custom-tint: #8439ff;

  --base-color: #E8E8E8;
  --middle-purple-color: #E2DEFF;
  --middle-red-color: #FFD9DF;
  --middle-yellow-color: #FFF1C4;
  --high-color: #211A49;
  --active-color: #7623ff;
}

.ion-color-custom {
	--ion-color-base: var(--ion-color-custom);
	--ion-color-base-rgb: var(--ion-color-custom-rgb);
	--ion-color-contrast: var(--ion-color-custom-contrast);
	--ion-color-contrast-rgb: var(--ion-color-custom-contrast-rgb);
	--ion-color-shade: var(--ion-color-custom-shade);
	--ion-color-tint: var(--ion-color-custom-tint);
}


@mixin btn-xs() {
  font-size: 11px;
  width: 70px;
  height: 30px;
};
@mixin btn-sm() {
  font-size: 13px;
  width: 80px;
  height: 30px;
};
@mixin btn-md() {
  font-size: 15px;
  width: 100px;
  height: 36px;
};
@mixin btn-lg() {
  font-size: 15px;
  width: 120px;
  height: 44px;
};
@mixin btn-xl() {
  width: 55px;
  height: 55px;
};

.diaryModal {
  // --background: #efefef;
}

.recordingModal {
  --border-radius: 30px;
  --width: 90%;
  &::part(backdrop) {
      background: #000;
  }

  &::part(handle) {
    display: none;
      // width: 150px;
      // height: 6px;
  }

  &::part(content) {
    --overflow: hidden;
  }
}

ion-popover {
  --width: 335px;
}
.keywordBadges ion-badge {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 16px;
  --padding-end: 16px;
}
ion-content {
  // overwrite inline styles
  &::-webkit-scrollbar {
    display: none;
  }
}
ion-popover ion-content {
}

ion-popover::part(backdrop) {
}

.journalToast::part(message) { text-align: center; }

.dFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marginAuto {
  margin: auto;
}

.w100 {
  width: 100%;
}
